.board {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    touch-action: none;
    position: relative;
}

.row {
    display: flex;
}

.gameOver {
    transition-property: background-color;
    transition-duration: 3s;
    background-color: rgb(241, 241, 241);
}